.dropdown{
    position: relative;
    width: 50%;
}

.about-width{
    width: 100%;
}


.dropdown-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FF6060;
    border-radius: 10px;
}


.dropdown h3{
    color: white;
    font-weight: 700;
}

.dropdown-content{
    background-color: white;
    color: black;
}