.rating {
  display: flex;
  font-size: 36px; /* Set the font size of the stars */
  flex-wrap: nowrap;
}

.filled {
  display: flex;
  align-items: flex-end;
  color: #ff6060;
}

.empty {
  display: flex;
  align-items: flex-end;
  color: #e3e3e3;
}

@media screen and (max-width: 768px) {
  .rating {
    font-size: 24px;
  }
}
