.rounded-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.rounded-tag {
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .rounded-tag {
    font-size: 10px;
  }
}
